/* Overlay */
.info-overlay {
    z-index: 1000;

    position: fixed;
    inset: 0;

    background-color: rgba(0,0,0,0.75);

    animation: fadeIn 0.2s ease-in-out;

    cursor: pointer;
    touch-action: none;
}





/* Info */
.todo-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 1001;
    overflow-x: hidden;
    overflow-y: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    min-height: 2.5em;
    max-height: 80%;

    padding: 2em 1em 1.5em;
    border-radius: 0.5em;

    color: #252525;
    background-color: #FFF;

    animation: fadeIn 0.2s ease-in-out;
}

@media (orientation: landscape) {
  .todo-info {
      max-width: 60%;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}





/* Close Button */
.todo-info .info-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    height: 1.5em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    border: none;
    border-radius: 0.25em;

    background-color: hsl(240, 80%, 97%);

    transition: transform 0.2s ease;

    user-select: none;
}

.todo-info .info-close-btn:active { transform: scale(0.75); }
