/* Info Overlay */
.info-overlay {
  z-index: 1000;

  position: fixed;
  inset: 0;

  background-color: rgb(0 0 0 / 0.75);

  animation: fade-in 0.2s ease-in-out;

  cursor: pointer;
  touch-action: none;
}

/* Info */
.todo-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 1001;
  overflow: hidden auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  max-width: 1024px;
  min-height: 2.5em;
  max-height: 80%;

  padding: 2em 1em 1.5em;
  border-radius: 0.5em;

  color: #252525;
  background-color: #ffffff;

  animation: fade-in 0.2s ease-in-out;

  & .info-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2em;
    max-width: 100%;
    height: 1.5em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    border: none;
    border-radius: 0.25em;

    background-color: hsl(240deg 80% 97%);

    transition: transform 0.2s ease;

    user-select: none;

    &:active {
      transform: scale(0.75);
    }
  }
}

@media (orientation: landscape) {
  .todo-info {
    max-width: 60%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
