.todo-search {
  display: block;

  width: 100%;

  margin-block: 0.5em;
  padding: 0.25em;
  border: none;
  border-top: 0.1em solid #333;
  border-bottom: 0.1em solid #333;

  font-size: 1.25rem;
  line-height: 1.5em;

  color: #e0e0e0;
  background-color: #444;

  outline: none;
}

.todo-search:focus {
  background-color: #555;
}

.todo-search::placeholder {
  color: #aaa;
}

.todo-search::selection {
  color: #444;
  background-color: #e0e0e0;
}
