.info-alert {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px 0;

    width: 100%;

    margin: 12px 0;
}





.info-alert p {
    width: 100%;

    font-size: 24px;
    font-weight: bold;
    text-align: center;

    user-select: none;
}



.info-alert button {
    display: inline-block;

    height: 28px;

    padding: 0 28px;
    border: none;
    border-radius: 2.8px;

    font-size: 12px;

    color: #000;
    background-color: #EEE;

    user-select: none;
}

.info-alert button:active { background-color: #CCC; }



.info-alert button.info-alert-delete {
    color: #FFF;
    background-color: hsl(0, 80%, 60%);
}

.info-alert button.info-alert-delete:active { background-color: hsl(0, 80%, 40%); }