.todo-search {
    display: block;

    width: 100%;
    height: 32px;

    margin: 8px 0;
    padding: 20px 5px;
    border: none;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;

    font-size: 20px;

    color: #E0E0E0;
    background-color: #444;

    outline: none;
}

.todo-search::placeholder { color: #AAA; }

.todo-search::selection {
    color: #444;
    background-color: #E0E0E0;
}