.todo-input {
    display: flex;
    gap: 3.2px;

    width: 100%;
    height: 32px;
}

.todo-input > * {
    display: block;

    width: 100%;
    height: 100%;

    border: none;
    border-radius: 3.2px;
}





/* Field */
.todo-input-field {
    flex: 1 1 auto;

    padding: 0 3.2px;
    border: 1.6px solid #C0C0C0;

    font-size: 16px;

    outline: none;
}

.todo-input-field:focus { border: 2.4px solid hsl(240, 75%, 70%); }





/* Add Button */
.todo-input-add {
    width: auto;
    aspect-ratio: 5 / 3;

    background-color: hsl(240, 60%, 90%);

    user-select: none;
}

.todo-input-add:active { background-color: hsl(240, 60%, 65%); }