.todo-input {
  display: flex;
  gap: 0.2em;
  z-index: 100;

  width: 100%;
  height: 3em;
  position: sticky;
  top: 1rem;

  padding: 0.5em 0.25em;
  border-radius: 0.2em;

  font-size: 1rem;

  background-color: #212121c0;

  & .todo-input-field {
    display: block;
    flex: 1;

    height: 100%;
    max-width: 100%;
    min-width: 0;

    padding-inline: 0.2em;
    border: 0.1em solid #c0c0c0;
    border-radius: 0.1em;

    font-size: 1em;

    outline: none;

    &:focus {
      outline: 0.15em solid hsl(240deg 75% 70%);
      outline-offset: -0.1em;
    }

    &::placeholder {
      padding-inline: 0.2em;

      font-size: 0.875em;
    }
  }

  .todo-input-add {
    display: block;

    height: 100%;
    aspect-ratio: 5 / 3;

    border: none;
    border-radius: 0.1em;

    background-color: hsl(240deg 60% 90%);

    user-select: none;

    &:active {
      background-color: hsl(240deg 60% 65%);
    }

    &:focus-visible {
      outline: 0.125em solid #ffffff;
    }
  }
}
