.todo-item {
    list-style: none;

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
    overflow: hidden;

    width: calc(100vw - 8px - 32px);
    height: 48px;

    padding: 0 4px;
    border: 0.5px solid #C0C0C0;
    border-radius: 2px;

    background-color: #EEE;
}





/* Label */
.todo-item .todo-item-label {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    gap: 0 4px;

    width: 100%;
    height: 100%;

    cursor: pointer;
}


  /* Check Box */
.todo-item .todo-item-checkbox {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 5;

    width: 24px;
    height: 24px;
    position: relative;

    border: 2px solid #C0C0C0;
    border-radius: 2px;
}

.todo-item-label input[type="checkbox"]:checked + .todo-item-checkbox {
    border: 1.6px solid #808080;
    border-radius: 3.2px;
}

.todo-item-label input[type="checkbox"]:checked + .todo-item-checkbox::before {
    content: "";

    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 3.2px;

    background-color: hsl(240, 65%, 68%);
}


  /* Date */
.todo-item .todo-item-date {
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow: hidden;

    width: 100%;
    height: 100%;

    font-size: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #252525;

    user-select: none;
}


  /* Title */
.todo-item .todo-item-title {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    overflow: hidden;

    width: 100%;
    height: 100%;

    font-size: 20px;
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #252525;
}

.todo-item .todo-item-title::selection {
    color: red;
    background-color: hsl(0, 0%, 80%);
}





/* Info Button */
.todo-item .todo-item-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 5px;

    width: auto;
    height: 100%;
    aspect-ratio: 1 / 2;

    border: none;
}

.todo-item .todo-item-info span {
    display: block;

    width: 5px;
    height: 5px;

    border-radius: 99999px;

    background-color: #000;
}
