.todo-list-info {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;

    background-color: hsla(0, 0%, 0%, 75%);

    animation: fadeIn 0.15s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



.todo-list-info .todo-info {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    overflow-x: hidden;
    overflow-y: auto;

    width: 80%;
    max-height: 80%;
    position: relative;

    padding: 12px;
    border: 2px solid #C0C0C0;
    border-radius: 16px;

    color: #252525;
    background-color: #FFF;
}

@media (orientation: landscape) {
  .todo-list-info .todo-info {
      max-width: 60%;
  }
}





/* Close Button */
.info-close {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;

    border: none;
    border-radius: 99999px;

    font-size: 16px;

    color: #555;
    background-color: hsl(240, 80%, 97%);

    user-select: none;
}